body {
  background: coral green;
}

canvas {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border: 1px solid black;
}

.button {
  display: flex;
  align-items: center;
}
